@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(238, 230, 230);
    max-width: 100%;
    overflow-x: hidden;
}

.title {
    font-size: 18px; 
    margin-top: 50px;
    margin-left: 30px;
}

.first-section {
    display: flex;
    margin-bottom: 50px;
}

.first-section #text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.first-section .section-title {
    font-size: 40px;
    font-weight: 800;
}

.first-section #image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section button:hover {
    background-color: rgb(235, 203, 203); 
    color: crimson;
}

.first-section #image:hover {
    transform: scale(1.5);
}

.first-section p {
    margin: 20px 0;
    font-weight: 9000;
    line-height: 1.5em;
}

.first-section button {
    background-color: #E03B8B;
    border-radius: 15px;
    border: 5px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 800;
}

.first-section button i{
    margin-left: 5px;
    text-align: center;
}

.gallery-section .section-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.collection {
    width: 300px;
}

.fa-star {
    color: orange;
}

.rating {
    margin: 5px 0;
}

.row {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 30px;
}


.gallery-section a {
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    text-decoration: none;
    color: #E03B8B;
    font-weight: 900;
}

.gallery-section {
    margin-bottom: 100px;
}

.creativity-section {
    margin: -4px;
}

.creativity-section img{
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    background-color: rgb(7, 7, 32);
    color: white;
    text-align: center;
}

footer .text {
    margin: 10px 0;
}

@media only screen and (min-width: 280px) and (max-width: 815px) {
    * {
        max-width: 100;
        overflow-x: hidden;
    }
    header .title{
        text-align: center;
        font-size: 50%;
        margin-bottom: 20px;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .first-section .section-title {
        font-size: 120%;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collection {
        margin-bottom: 30px;
    }
}